body{
  font-family: monospace, Arial, Helvetica, sans-serif;
  background-color: rgba(47, 48, 48, 0.978);
  padding: 0;
  margin: 0;
}

.stopwatch-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopwatch{
  border: 5px solid hsla(0, 0%, 76%, 0.095);
  border-radius: 30px;
  padding: 30px;
  background-color: white;
}

.stopwatch p{
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.587);
  margin-bottom: 20px;
}

.controls{
  display: flex;
  justify-content: center;
}

.controls button{
  padding: 15px;
  font-size: 20px;
  margin: 7px;
  min-width: 110px;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.stop-button{
  background-color: hsla(0, 97%, 60%, 0.935);
}
.stop-button:hover{
  background-color: hsla(0, 100%, 45%, 0.935);
}

.start-button{
  background-color: hsla(136, 85%, 44%, 0.935);
}
.start-button:hover{
  background-color: hsla(136, 85%, 34%, 0.935);
}

.reset-button{
  background-color: hsla(193, 84%, 53%, 0.935);
}
.reset-button:hover{
  background-color: hsla(193, 84%, 43%, 0.935);
}